.nav-bar{
   
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    
    color: white;
}
.nav-bar .nav-2 a{
 margin-right: 1rem;
}

.header {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    background: rgb(0, 0, 0);
    border: none;
    padding: 20px 10px 10px 10px;
  

    z-index: 100;
  }
  
  .header--sticky {
    position: sticky;
    top: 0;
    padding-top:30px;
  }  